table{
 	border-collapse: collapse;

 }   
 th{
 	width: 200px;
 	background-color: green;
 	color: white;
 	height: 45px;
 	font-family: arial;
 }
 td{
 	text-align: center;
 	height: 40px;
 	background-color: white;
 }
 td:nth-child(even){
 	background-color: gray;
 }
 td:hover{
 	background-color: orange;
 }
 .one{
 	margin-left: 100px;
 	margin-top: 40px;
 }
 body{
 	background-color: #363734;
 }